body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    max-width: 400px;
    margin: 150px auto 30px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-container {
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

h4 {
    color: #555;
    font-weight: normal;
    margin-bottom: 30px;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    opacity: 0.9;
}

table {
    width: 95%;
    margin: 0 auto 30px auto;
    border-collapse: collapse;
    font-size: 15px;
}

th {
    background-color: #007BFF;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

tr:hover {
    background-color: #f1f1f1;
}

.logout-btn {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    opacity: 0.9;
}
